Thanks for taking the time to chat and share your experience with us.

Also, if you have some time, we'd love it if you would take a moment to review your experience with Coinbase. We use the feedback we get to improve our interview process and make sure the candidate experience is top-notch.
= link_to "Let us know your thoughts.", "#"
Your feedback is completely anonymous.

We wish you the best in your search, and hope our paths cross again!
