Thanks for interviewing with the Coinbase team.
%br
%br
If you have some time, we'd love it if you would take a moment to review your experience with Coinbase.
%br

We use the feedback we get to improve our interview process and make sure the candidate experience is top-notch.
%br
= link_to "Let us know your thoughts.", redirect_click_tracker_url(@click_tracker.id)
Your feedback is completely anonymous.

%br
%br
We wish you the best in your search, and hope our paths cross again!
%br

= "- Coinbase Recruiting"
