%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{:href => experiments_path} Experiments
  %li.nav-item
    %a.nav-link{:href => "#"} Send/Schedule Email
  %li.nav-item
    %a.nav-link{:href => "#"} Link
  %li.nav-item
    %a.nav-link.disabled{:href => "#"} Disabled
