%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{:href => experiments_path} Experiments
  %li.nav-item
    %a.nav-link{:href => new_click_tracker_path} Send New Email
  %li.nav-item
    %a.nav-link{:href => "#{Rails.application.config.domain}/rails/mailers/survey_mailer/recruiting_survey"} Email Template
